@font-face {
    font-family: Inter;
    src: local("Inter SemiBold"), local("Inter Semi-Bold"), local("Inter-SemiBold"), local("Inter Semi Bold"), url("../fonts/Inter-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal; 
    font-display: swap; /*Задаю оптимальную отрисовку шрифта*/
}

@font-face {
    font-family: Inter;
    src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal; 
    font-display: swap; /*Задаю оптимальную отрисовку шрифта*/
}

