html {
    position: relative;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    font-style: normal;
    line-height: 15px;
    color: #6E6893;
  }
  
  
  img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  
  
  button {
    padding: 0;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  p,
  figure,
  fieldset {
    margin: 0;
  }
  
  iframe {
    border: none;
  }
  
  /*
  Доступно скрываю элементы
  */
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  
  /*
  Пример контейнера
  
  Если контейнер 1180px по макету,
  то для max-width прибавляем паддинги 30px*2, 
  в итоге 1240px
  Чтобы контент не прижимался к краям экрана
  */
  
  .container {
    max-width: 1240px;
    padding: 0 70px;
    margin: 0 auto;
  }
  
  /*общие стили для кнопок*/
  .form-btn {
    background-color: #6D5BD0;
    border-radius: 6px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
  }

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .total-cost-txt {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .total-cost {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #6D5BD0;
  }

@media (hover: hover) {

  .form-btn:hover {
    color: #000000;
  }

  .form-btn:focus {
    box-shadow: 0px 4px 4px 0px rgba(43, 9, 235, 0.25);
  }
  
  .form-btn:active{
    box-shadow: 12px 10px 6px -5px rgba(231, 83, 161, 0.25);
  }
}

@media (max-width: 768px) {
  .form-btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .title {
    font-size: 19px;
    line-height: 21px;
  }
}

@media (max-width: 540px) {
  .container {
    padding: 0 30px;
  }

  .title{
    font-size: 15px;
    line-height: 17px;
  }

  .total-cost {
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
  }
}